@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>For RICH</h1>
    <p class="lead">Make your own rich!</p>
    <p id="CreateOrdinaryUser">       
    </p>
</div>

<div class="body">
    <div class="row">
        <div class="col-md-4">
            <img src="Content/money.jpg" width="300" height="300" />
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-1">
                    @Ajax.ActionLink("Ordinary User", "_CreateOrdinaryUser", "Home",null,
                   new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "CreateOrdinaryUser", HttpMethod = "POST" },
                   new {@class= "btn btn-lg" })

                </div>
                <div class="col-lg-3"></div>
                <div class="col-md-6" id="login_div">
                </div>
            </div>

            <div class="row">
                <label></label>
            </div>
            <div class="row">
                <label></label>
            </div>
            <div class="row">
                <div class="col-md-1">
                    @using (Ajax.BeginForm("CreateFamily", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "login_div", HttpMethod = "POST" }))
                    {
                        <button class="btn btn-lg">NEW FAMILY!</button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <h2>PROFITS</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>EXPENCES</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>PLAN LIST</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>WISH LIST</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>