
@{
    ViewBag.Title = "Profits";
}

<h2>Profits</h2>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("ADD ", "Profits", "Home", new { area = "", @class = "btn btn-primary btn-lg" }) 
        </div>

</div>

