@{
    ViewBag.Title = "Budjet";

    // UpdateTargetId - элемент на странице, который будет обновляется после получения новых данных со стороны сервера.
    // Url - адрес ресурса на сервере, который возвращает данные для обновления страницы
    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("ShowAll")
    };
}
@model ForRich.Models.AppDbContext

<h2>PROFITS</h2>

@using (Ajax.BeginForm(options))
{
    <table cellpadding="4">
        <thead>
            <tr>
                <th>Date</th>
                <th>Sum</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>

       

    </table>
}
